body {
    margin: auto;
    max-width: 70%;
    border-radius: 30px;
    overflow: hidden;
}

header, footer {
    max-width: 100%;
    background-color: rgb(139, 74, 0);
    padding: 1em;
    color: white;
    text-align: center;
}

h1 {
    font-family: 'Gluten', cursive;
    font-size: 1.5em;
}

h2 {
    padding: 10px;
    border-bottom: 1px solid #888;
    font-family: 'Gluten', cursive;
    font-size: 1em;
}

p {
    font-family: 'Josefin Sans', sans-serif;
}

ol {
    list-style: initial;
    font-family: 'Josefin Sans', sans-serif;
}

img {
    max-width: 200px;
}


footer p a {
    color: rgb(211, 223, 106);
}

#currentdatetime {
    color:rgb(14, 250, 6);
}


@media only screen and (min-width: 32.5em) {
    h1 {
        font-size: 2.5em;
        align-self: center;
    }

    img {
        float: right;
        border-radius: 0px 8px 0px 0px;
        box-shadow: 3px 3px 4px 4px rgba(136, 136, 136, 0);
    }

    h2 {
        font-size: 1.5em;
    }

    header, footer {
        border-radius: 8px;
    }
}