#square {
    margin: 100px;
    width: 100px;
    height: 100px;
    background: #d16;
}

#circle {
    margin: 100px;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    background: rgb(17, 221, 136);
}

#rectangle {
    margin: 100px;
    width: 300px;
    height: 100px;
    background: rgb(112, 17, 221);
    text-align: center;
    color: rgb(219, 208, 46);
}