main, footer {
    font-family: Josefin Sans, sans-serif;
    max-width: 50%;
    margin: auto;
}

ul {
    border: 2px double black;
    border-radius: 10px;
    list-style: none;
    background-color: aqua;
    box-shadow: 10px 10px 5em;
}

/* main {
    position: relative;
} */

#mainFooter {
    /* position: fixed;
    left: 25%;
    bottom: 40%; */
    margin-top: 3em;
}

#taskList {
    max-width: 300px;
}

#listFooter {
    max-width: 300px;
    margin-top: -1em;
}

li {
    list-style: none;
    /*display: grid;
    grid-template-columns: 20px 1fr 20px;
    column-gap: 10px; */
    border: 1px solid black;
    padding: 10px;
    background-color: antiquewhite;
}

li.taskInfo {
    display: grid;
    grid-template-columns: 1fr 30px;
}

.taskInfo label {
    grid-column: 1, 2;
}

.taskInfo button.delButton {
    grid-column: 2, 3;
}

#taskList li label {
    display: inline;
}

#statusBar {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

#statusBar div, #statusBar button {
    flex : 1 1 2rem
}

li.hidden {
    display: none;
}

button.selected {
    background-color: rgb(155, 128, 55);
    color: antiquewhite;
}
